// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.portfolio-item-show {
  display: flex;
  flex-direction: column;

}

.portfolio-item-show img {
  width: 600px;
  border: 5px solid #000;
}